.pools .webix_dataview_item, .pools .webix_dataview_item.webix_selected{
    padding: 3px 2px;
    border-color: #fff;
    background-image:none;
    background-color:#fff;
}
.pools .webix_dataview_item.webix_selected .overall{
    background-color: #DBFFB0;
    background: -moz-linear-gradient(top , #DBFFB0 0%, #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
    background: -o-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -ms-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -moz-linear-gradient(top, #DBFFB0 0% , #D0F4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#DBFFB0), color-stop(1, #D0F4A4));
 }
.overall{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    height: 200px;
    padding: 10px;
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #e1e4ea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0px 1px 1px #d4d7de;
}
.name{
    font-size: 14px;
    color:#df6910;
    font-weight:bold;
    float: left;
    line-height:20px;
	width: 500px;
    height:40px;
}
.block{
    line-height:20px;
    overflow:hidden;
    float: left;
    padding-left: 5px;
    width: 500px;
}
.last_block{
    line-height:20px;
    font-weight:bold;
    overflow:hidden;
    float: left;
    padding-left: 5px;
    width: 500px;
}
.miners{
    line-height:20px;
    overflow:hidden;
    font-weight:bold;
    float: left;
    padding-left: 5px;
    width: 500px;
}
.balance{
    line-height:20px;
    overflow:hidden;
    float: left;
    padding-left: 5px;
    width: 500px;
}
.load{
    line-height:20px;
    overflow:hidden;
    float: left;
    padding-left: 5px;
    width: 500px;
}
.log{
    line-height:20px;
    overflow:hidden;
    font-style: italic;
    float: left;
    padding-left: 5px;
    width: 500px;
}